<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Number</title>
</head>
<body>
    <h1>Your lucky number is: {{lucky_num}}</h1>
    <p>{{msg}}</p>
    {% if lucky_num == 3%}
        <h2>That's my lucky number too</h2>
        <img src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    {% else %}
        <h2>Try Again</h2>
        <p>{{lucky_num}} is not the number we are looking for</p>
    {% endif %}
</body>
</html>