{% extends 'base.html' %}
{% block title %}Twitter Clone{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="display-1">Users</h1>    
        <div class="row">
            {% for user in users %}
            <div class="col-lg-2 col-sm-4">
                <div class="card m-1" style="width: 18rem;">
                    <img src="{{user.picture}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{user.username}}</b></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
                        <p class="card-text">{{user.about}}</p>
                        {% if session['username'] == user.username %}
                            <form style="display: inline;" action="/users/{{user.id}}" method="POST">
                                <button class="btn btn-sm btn-danger" id="delete-user">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>  
            {% endfor %}
        </div>
    </div>
{% endblock %}  