{% extends 'base.html' %}
{% block title %}Twitter Clone{% endblock %}

{% block content %}
    <h1 class="display-1">Boards</h1>
    <div class="container-fluid m-2">
        {% for tweet in tweets %}
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title"><b>{{tweet.user.username}}</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                    <p class="card-text">{{tweet.text}}</p>
                    {% if session['username'] == tweet.user.username %}
                        <form style="display: inline;" action="/tweets/{{tweet.id}}" method="POST">
                            <button class="btn btn-sm btn-danger" id="delete-tweet">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </form>
                    {% endif %}
                </div>
                </div>
        {% endfor %}
            </div>
{% endblock %}  