{% extends 'base.html' %}
{% block title %}Twitter Clone{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1 class="display-1">Posts</h1>
        <div class="center">
            <div id="post-box-wrapper">
                <form method="POST">
                    <div id="post-input-box">
                        <input type="text" id="title" name="title" placeholder="Title" required>
                        <textarea id="post-content" name="content" rows="4" placeholder="What's happening?" required></textarea>
                        <div id="post-privacy-button">
                            <i class="fas fa-globe-asia"></i>
                            <span>Everyone can reply</span>
                        </div>
                    </div>
                    <div id="post-box-bottom">
                        <ul id="post-box-icons">
                            <li><i class="fa-solid fa-list"></i></li>
                            <li><i class="far fa-file-image"></i></li>
                            <li><i class="fas fa-map-marker-alt"></i></li>
                            <li><i class="far fa-grin"></i></li>
                            <li><i class="far fa-user"></i></li>
                        </ul>
                        <div id="post-box-submit">
                            <span class="counter">300</span>
                            <button type="submit" disabled>Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for post in posts %}
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title"><b>{{post.user.username}}</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                    <p class="card-text">{{post.text}}</p>
                    {% if session['username'] == post.username %}
                        <form style="display: inline;" action="/posts/{{post.id}}" method="POST">
                            <button class="btn btn-sm btn-danger" id="delete-post">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}  