{% extends 'user_profile' %}
{% block content %}
    <div class="container">
        {% for post in user.posts %}
            <div class="col-sm-12 col-md-6 col-xl-3 my-1">
                <div class="card">
                    <img src={{post.picture}} class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.content}}</p>
                        <a href="/pets/{{pet.id}}" class="btn btn-primary" id="view-post" data-id="{{post.id}}">View post</a>
                      </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% end block %}
