{% extends 'base.html' %}
{% block title %}Profile - {{user.username}}{% endblock %}
{% block content %}
    <div id="user-profile-header">
        <div class="row">
            <div id="user-profile-banner-container">
                <img src="{{user.banner}}" alt="User Banner Image" id="user-profile-banner" class="w-100">
            </div>
            <div class="row align-items-center justify-content-between" id="user-profile-content">
                <div id="user-profile-details" class="col-md-4 text-center">
                    <h2>{{user.username}}</h2>
                    <span>{{user.email}}</span>
                </div>
                <div id="user-profile-picture" class="col-md-4 text-center">
                    <img src="{{user.picture}}" alt="User Profile Picture" class="rounded-circle">
                </div>
                <div id="user-profile-action" class="col-md-4 text-center">
                    <div class="row justify-content-center">
                        <a href="#" class="btn btn-circle" id="profile-picture-button">
                            <i class="fa-solid fa-camera-retro fa-2x" id="profile-picture-icon"></i>
                            <form action="#" class="hideForm" id="profile-picture-popover">
                                <label for="profile-picture-input">New profile picture url:</label>
                                <input id="profile-picture-input" type="text" placeholder="Enter link" autocomplete="off">
                                <button type="submit">Submit</button>
                            </form>
                        </a>
                        <a href="#" class="btn btn-circle" id="profile-banner-button">
                            <i class="fa-regular fa-image fa-2x" id="profile-banner-icon"></i>
                            <form action="#" class="hideForm" id="banner-picture-popover">
                                <label for="banner-picture-input">New banner picture url:</label>
                                <input id="banner-picture-input" type="text" placeholder="Enter link" autocomplete="off">
                                <button type="submit">Submit</button>
                            </form>
                        </a>
                        <a href="/{{version}}/user/{{user.username}}/edit" class="btn btn-circle" id="profile-edit-button">
                            <i class="fa-regular fa-pen-to-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="user-profile-body">
        <div class="row">
            <nav id="user-profile-nav" class="col-12">
                <div class="col-3">
                    <a class="nav-link" id="user-action-presentation">Presentation</a>
                </div>
                <div class="col-3">
                    <a class="nav-link" id="user-action-activity">Recent Activity</a>
                </div>
                <div class="col-3">
                    <a class="nav-link" id="user-action-work">Recent Work</a>
                </div>
                <div class="col-3">
                    <a class="nav-link" id="user-action-other">Other</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid" id="user-profile-section">
        <!-- Content will be loaded here dynamically based on user's selection -->
        {% block user_content %}{% endblock %}
    </div>
{% endblock %}
