{% block content %}
    <h1 class="display-1">Welcome back to Twitter Clone</h1>
    <div class="container-fluid">
        <i class="fa-brands fa-twitter fa-2xl" id="twitter-sm-logo"></i>
        <div class="row m-1" id="email_register">
            <div class="col">
                <label for="email_input">Email</label>
                <input type="text" class="form-control" id="email_input" placeholder="Email">
            </div>
        </div>
        <div class="row m-1" id="password_register">
            <div class="col">
                <label for="password_input">Password</label>
                <input type="text" class="form-control" id="password_input" placeholder="Create a password">
            </div>
        </div>
    </div>
{% endblock %}
