/* ------ User Profile - Styling ------ */
/* Banner Image */
#user-profile-banner-container {
    width: 100%;
    max-height: 30vh; /* Adjust the maximum height as needed */
    overflow: hidden;
}

#user-profile-banner {
    width: 100%;
    height: auto;
}

/* User Profile Content */
#user-profile-content {
    margin-top: -110px;
}

/* User Picture */
#user-profile-picture img {
    width: 300px; /* Adjust the size of the profile picture as needed */
    height: 300px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 8px solid #fff; /* Thick white border */
    border-radius: 50%; /* Circular shape */
    overflow: hidden; /* Hide overflow content */
}

/* User Details */
#user-profile-details span {
    font-weight: bold;
    color: black;
}

#user-profile-details h2 {
    color: black;
}

/* User Actions */
#user-profile-action a {
    color: white;
    background-color: #5c1539;
    margin: 5px;
}

#user-profile-action a:hover {
    transform: scale(1.1);
    transition: transform 0.25s;
}

.btn-circle {
    border-radius: 50%;
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    padding: 5px; /* Adjust the padding as needed */
    padding-top: 12px;
}

/* Popover */
#user-profile-action > div > a {
    position: relative;
    cursor: pointer;
}

#user-profile-action > div > a > i {
    width: 100%;
    height: 100%;
}

#user-profile-action > div > a > form { /* #user-profile-action > div > a > form => #profile-picture-popover */
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #845b8b;
    color: black;
    width: 280px;
    margin-bottom: -200px;
}

.hideForm {
    opacity: 0;
    visibility: hidden;
}

#user-profile-action > div > a > form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid #eee;
    font-size: 1rem;
    outline: none;
}

#user-profile-action > div > a > form button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background: grey;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* User profile body styling */
#user-profile-body {
    align-self: center;
    padding: 5px;
}

/* User profile nav */
#user-profile-nav {
    display: flex;
    border-radius: 5px;
    justify-content: center;
}

#user-profile-nav a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    text-align: center;
    padding: 12px;
    width: 100%;
}

#user-profile-nav a.active {
    background-color: #845b8b;
}

#user-profile-nav a:hover {
    background-color: #845b8b;
}

/* Search Bar */
#search-bar {
    width: 100%; /* Takes up 100% of the container width */
    max-width: 400px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the input group */
}

.form-control {
    flex: 1;
    border-radius: 5px 0 0 5px;
}

.input-group-append {
    display: flex;
}

.input-group-text {
    background-color: #5c1539;
    border: 1px solid #5c1539;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}
