/* ------ User Profile Page Styling ------ */
/* User Page */
#user-profile-content {
    position: absolute;
    background-color: #f8f9fa;
}

/* Search Bar */
#search-bar {
    width: 100%; /* Takes up 100% of the container width */
    max-width: 400px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the input group */
}

.form-control {
    flex: 1;
    border-radius: 5px 0 0 5px;
}

.input-group-append {
    display: flex;
}

.input-group-text {
    background-color: #5c1539;
    border: 1px solid #5c1539;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}

/* Banner Image */
#user-profile-banner {
    width: 100%;
    height: auto;
}

/* User Picture */
#user-profile-details {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-profile-picture img {
    width: 300px; /* Adjust the size of the profile picture as needed */
    height: 300px;
    border: 8px solid #fff; /* Thick white border */
    border-radius: 50%; /* Circular shape */
    overflow: hidden; /* Hide overflow content */
    margin-bottom: 10px;
}

/* User Details */
#user-profile-details span {
    font-weight: bold;
    color: #f8f9fa;
}

#user-profile-details h2 {
    color: #f8f9fa;
}

/* User profile body styling */
#user-profile-body {
    margin-top: 20px;
}

/* User profile nav */
#user-profile-nav {
    display: flex;
    justify-content: space-around;
    background-color: #5c1539; /* Background color for the navigation bar */
    padding: 10px 0; /* Add padding to the top and bottom of the navigation bar */
    border-radius: 5px;
}

#user-profile-nav a {
    color: white; /* Text color for the navigation links */
    text-decoration: none; /* Remove underlines from the links */
    font-weight: bold; /* Make the text bold */
    font-size: 16px; /* Adjust the font size */
}

#user-profile-nav a:hover {
    color: #ddd; /* Change the text color on hover */
}
