{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <h1 class="display-1">Welcome to Twitter Clone</h1>
    <div class="container-fluid">
        <form action="" method="POST">
            <div class="row" id="email_register">
                <div class="col">
                    <label for="email_input">Email</label>
                    <input type="text" id="email_input" placeholder="Email">
                </div>
            </div>
            <div class="row" id="password_register">
                <div class="col">
                    <label for="password_input">Password</label>
                    <input type="text" id="password_input" placeholder="Create a password">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
