# Environments
venv/
.venv

# Byte-compiled / optimized / DLL files
__pycache__/

# Keys
keys/

# Local Modules
local_results/

# Discontinued Modules
CFA_Results_Local/
CFA_Inbox_Local/
disc/
tests/
