{% block content %}
    {{ signup_form.hidden_tag() }}
    <h1 class="display-1">Welcome to Twitter Clone</h1>
    <div class="container-fluid">
        <i class="fa-brands fa-twitter fa-2xl" id="twitter-sm-logo"></i>
        <p class="sign-up-slogan">Post. Discuss. Connect</p>
        <div class="row m-1" id="email_signup">
            <div class="col">
                <label for="email_input" class="form-label">{{ signup_form.email.label }} </label>
                {{ signup_form.email(class="form-control") }}
            </div>
        </div>
        <div class="row m-1" id="username_signup">
            <div class="col">
                <label for="username_input" class="form-label">{{ signup_form.username.label }} </label>
                {{ signup_form.username(class="form-control") }}
            </div>
        </div>
        <div class="row m-1" id="password_signup">
            <div class="col">
                <label for="password_input" class="form-label">{{ signup_form.password.label }} </label>
                {{ signup_form.password(class="form-control") }}
            </div>
        </div>
        <div class="row m-1" id="birthdate_signup">
            <div class="col">
                <label for="birthdate_input" class="form-label">{{ signup_form.birth_date.label }} </label>
                {{ signup_form.birth_date(class="form-control", type="date") }}
            </div>
        </div>
    </div>
{% endblock %}
