{% block content %}
    <form action="/{{version}}/login" method="POST" id="login-modal-form">
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-title"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ login_form.hidden_tag() }}
                        <h1 class="display-1">Welcome back to Twitter Clone</h1>
                        <div class="container-fluid">
                            <i class="fa-brands fa-twitter fa-2xl" id="twitter-sm-logo"></i>
                            <div class="row m-1" id="email_register">
                                <div class="col">
                                    <label for="email_input" class="form-label">{{ login_form.email.label }}</label>
                                    {{ login_form.email(class="form-control", id="login_form_email") }}
                                </div>
                            </div>
                            <div class="row m-1" id="password_register">
                                <div class="col">
                                    <label for="password_input" class="form-label">{{ login_form.password.label }}</label>
                                    {{ login_form.password(class="form-control", id="login_form_password") }}
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal-login-close-button">Close</button>
                        <button type="submit" class="btn btn-primary" id="modal-login-submit-button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form> 
{% endblock %}
