{% block content %}
    <div id="landing-page-navbar">
        <nav class="navbar">
            <div id="topnav-left"> 
                <a class="active" href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <!-- Button trigger modal -->
            <div id="topnav-right">
                <a class="btn" id="sign-up" data-bs-toggle="modal" data-bs-target="#signupModal">
                    Sign Up
                </a>
                <a class="btn" id="log-in" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Log In
                </a>
            </div>
        </nav>
    </div>  
{% endblock %}
